* {
    box-sizing: border-box;
    /*SI AGREGO PADDING O BORDE, EL ANCHO O ALTO DE MI ELEMENTO SE RESPETA ;) */
    margin: 0;
    padding: 0;
    /*LIMPIEZA DE ESPACIADOS Y MARGENES POR DEFECTO PARA ASI PODER CONFIGURAR LOS MIOS PROPIOS*/
}


header {
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7), 0 -6px 12px rgba(0, 0, 0, 0.7); */
    position: sticky;
    z-index: 1000;
    background-color: white;
    top: 0;

    .tittlePage {
        font-size: 1.8rem;
        color: #222;
        text-shadow: 0px 2px 3px #555;
        text-decoration: none;
        padding-left: 80px !important;
    }

    .navBarButton {
        color: black;
        font-weight: 400;
        padding: 8px;


        &:hover {
            background-color: #22222226;
            border-radius: 6px;
        }
    }

}

h2 {
    color: #191919a1 !important;
}

.registerMainSection {
    width: 30%;
    color: white;
    background-color: rgb(234, 101, 13);
    text-decoration: none;
    border: 0px solid black;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0px 10px 2px rgba(0, 0, 0, 0.7), 0 12px 12px rgba(243, 135, 3, 0.945);

    &:hover {
        background-color: rgb(190, 70, 5);
        border-radius: 6px;
    }
}

#register {
    color: white;
    background-color: rgb(234, 101, 13);
    text-decoration: none;
    border: 0px solid black;
    border-radius: 6px;
    padding: 8px;

    &:hover {
        background-color: rgb(190, 70, 5);
        border-radius: 6px;
    }
}


.imgMainSection {
    width: 100%;
}


.columnMain1 {
    h1 {
        font-size: 4rem;
        color: #151515;
    }

    h2 {
        font-size: 2rem;
        color: #151515;
    }
}




ul {
    list-style: none;
}

li {
    margin: 10px 0;
}

.miniSection {
    position: relative;
    height: 444px;
    background-image: url("../assets/img/imagenFondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    z-index: 0; */
}

.parrafosMiniSection {
    font-size: 1.2rem;
    color: #151515;
    font-family: Georgia, 'Times New Roman', serif;
    font-style: italic;
}

.hrParrafos {
    height: 20vh;
    width: 0.07vw;
    border-width: 0;
    color: #151515;
    background-color: #151515;
}


.seccionMedio {
    .textosYVideo {
        .textos {
            .textos1 {
                h3 {
                    font-weight: 700;
                    color: rgba(0, 0, 0, 0.874);
                    font-size: 2.3rem;
                }

                .parrafoCorto1 {
                    font-size: 1.1rem;
                    color: #c77b00;
                    font-weight: 700;
                }

                .parrafoLargo1 {
                    font-weight: 500;
                    color: #25221ea8;
                    font-size: 1.35rem;
                    width: 30%;
                }
            }

            .textos2 {
                h3 {
                    font-weight: 700;
                    color: rgba(0, 0, 0, 0.874);
                    font-size: 2.3rem;
                }

                .parrafoCorto2 {
                    font-size: 1.1rem;
                    color: #497d7e;
                    font-weight: 700;
                }

                .parrafoLargo2 {
                    font-weight: 500;
                    color: #25221ea8;
                    font-size: 1.35rem;
                    width: 30%;
                }
            }

            .textos3 {
                h3 {
                    font-weight: 700;
                    color: black;
                }

                .parrafoCorto3 {
                    color: #e34432;
                    font-weight: 700;
                }

                .parrafoLargo3 {
                    width: 28%;
                    font-weight: 500;
                }
            }

            .textos4 {
                h3 {
                    font-weight: 700;
                    color: black;
                }

                .parrafoCorto4 {
                    color: #4c7a45;
                    font-weight: 700;
                }

                .parrafoLargo4 {
                    width: 30%;
                    font-weight: 500;
                }
            }
        }
    }
}


/*--------------------*/

.mainTo-doList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 251, 251);

    h1 {
        color: #151515;
        padding-left: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .checklist-icon {
        width: 60px;
        height: 60px;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.cuadroListas {
    background-color: rgb(0, 72, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadroAgregarTarea {
    text-align: center;
    width: 30%;
    border: 3px;
    margin: 30px;
    padding: 20px;

    .cuadroACompletar {
        padding: 5px;
    }

    .botonAgregarTarea {
        padding: 5px;
        border-radius: 5px;
    }

}

.titulosPreLista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    h2 {
        color: #151515 !important;
    }
}

.divLista {
    background-color: #4c7a45;
    width: 100%;
    display: flex;
    flex-direction: row;

}

#listaTareas {
    width: 75%;
    background-color: #e34432;

}

.elementoLista {
    border: 1px solid brown;
    margin: 0;
    padding: 10px;
    list-style: none;
}

.botonEliminar,.botonProgreso1 {
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
}

.cuadroProgreso {
    width: 25%;
    background-color: chartreuse;
}