* {
    box-sizing: border-box;
    /*SI AGREGO PADDING O BORDE, EL ANCHO O ALTO DE MI ELEMENTO SE RESPETA ;) */
    margin: 0;
    padding: 0;
    /*LIMPIEZA DE ESPACIADOS Y MARGENES POR DEFECTO PARA ASI PODER CONFIGURAR LOS MIOS PROPIOS*/
}


header {
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7), 0 -6px 12px rgba(0, 0, 0, 0.7); */
    position: relative;
    z-index: 1;

    .tittlePage {
        font-size: 1.8rem;
        color: #222;
        text-shadow: 0px 2px 3px #555;
        text-decoration: none;
        padding-left: 80px !important;
    }

    .navBarButton {
        color: black;
        font-weight: 400;
        padding: 8px;


        &:hover {
            background-color: #22222226;
            border-radius: 6px;
        }
    }

}

h2 {
    color: #191919a1 !important;
}

.registerMainSection {
    width: 30%;
    color: white;
    background-color: rgb(234, 101, 13);
    text-decoration: none;
    border: 0px solid black;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0px 10px 2px rgba(0, 0, 0, 0.7), 0 12px 12px rgba(243, 135, 3, 0.945);

    &:hover {
        background-color: rgb(190, 70, 5);
        border-radius: 6px;
    }
}

#register {
    color: white;
    background-color: rgb(234, 101, 13);
    text-decoration: none;
    border: 0px solid black;
    border-radius: 6px;
    padding: 8px;

    &:hover {
        background-color: rgb(190, 70, 5);
        border-radius: 6px;
    }
}


.mainTo-doList {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 251, 251);
}

.imgMainSection {
    width: 100%;
}


.columnMain1 {
    h1 {
        font-size: 4rem;
        color: #151515;
    }

    h2 {
        font-size: 2rem;
        color: #151515;
    }
}


.cuadroTareas {
    text-align: center;
    width: 30%;
    border: 3px;
    margin: 30px;
    padding: 20px;
    border: 3px solid rgb(193, 71, 0);

    .listaTareas {
        padding-top: 15px;
    }
}

ul {
    list-style: none;
}

li {
    margin: 10px 0;
}

.miniSection {
    position: relative;
    height: 444px;
    background-image: url("../assets/img/imagenFondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    z-index: 0; */
}